numpy
pandas
streamlit
plotly
matplotlib
seaborn
waterfallcharts
cvxopt
yfinance
plotly-express
oauth2client
gspread
statistics
xlrd
bs4
requests
datetime
gensim
spacy
nltk
transformers 
textblob 
wordcloud
